<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <welcome-file-list>
        <welcome-file>Home.html</welcome-file>
    </welcome-file-list>
      
     <servlet>
        <servlet-name>second</servlet-name>
        <servlet-class>com.servletspractice.First</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>third</servlet-name>
        <servlet-class>com.servletspractice.Second</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>fourth</servlet-name>
        <servlet-class>com.servletspractice.Third</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>form</servlet-name>
        <servlet-class>com.servletspractice.Forms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>success</servlet-name>
        <servlet-class>com.servletspractice.Success</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/web</url-pattern>
    </servlet-mapping>
    
       <servlet-mapping>
        <servlet-name>third</servlet-name>
        <url-pattern>/third</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>fourth</servlet-name>
        <url-pattern>/fourth</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>form</servlet-name>
        <url-pattern>/Forms</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    
    
    
    <session-config>
        
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
